
@{
    ViewBag.Title = "ErroLocal";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("PosSlot", "Slot", FormMethod.Post))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Google Map</title>
        <style>
            #map {
                width: 100%;
                height: 400px;
                float: left;
                margin-left: 0px;
            }

            #button {
                height: 50px;
                width: 100px;
                margin: auto;
                position: relative;
                top: 200px;
                left: 100px;
            }

            #infoPanel {
                float: left;
                margin-left: 10px;
            }

                #infoPanel div {
                    margin-bottom: 5px;
                }

            #Lat {
            }

            .block {
                margin-top: 20px;
            }
        </style>
        <script>
            function initMap() {
                // Map options
                var options = {
                    zoom: 16,
                    center: { lat: 41.557813, lng: -8.399161 }
                }

                // New map
                var map = new google.maps.Map(document.getElementById('map'), options);

                // Listen for click on map
                google.maps.event.addListener(map, 'click', function (event) {
                    // Add marker
                    addMarker({ coords: event.latLng });
                    myFunction2(event);
                    myFunction(event);


                    document.getElementById('info').innerHTML = [
                        event.latLng.lat(),
                        event.latLng.lng()
                    ].join(', ');
                });


                // Add Marker Function
                function addMarker(props) {
                    var marker = new google.maps.Marker({
                        position: props.coords,
                        map: map,
                        //icon:props.iconImage
                    });
                }

                function myFunction(event) {
                    document.getElementById("Lat").value = event.latLng.lat();
                }
                function myFunction2(event) {
                    document.getElementById("Lng").value = event.latLng.lng();
                }
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA438QeylcKJSF9flYPpEbnKQGCk5AlvsU&callback=initMap">
        </script>
    </head>
    <body>
        <div>
            <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Atenção!</strong>A localização que inseriu não se situa no nosso raio de acção.
        </div>

            <h1>Selecione o dia e a localização que desejar!</h1>
            <div class="block">
                <div class="col-md-4">
                    <label for="Calendar">Dia de Realização:</label>
                    <input type="date" name="calendar" id="calendar" />
                    <input type="submit" value="Validar" class="btn btn-default" id="button" />
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div id="map"></div>
                    </div>

                    <div class="row">
                        <label for="Lat"><b>Latitude:</b></label>
                        <input type="text" name="Lat" id="Lat">
                        <label for="Lng"><b>Longitude:</b></label>
                        <input type="text" name="Lng" id="Lng">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
}
