@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">

        body {
            text-align: justify;
        }

        p {
            font-family: 'Comic Sans MS';
            font-size: larger;
        }

        h1 {
            text-align: right;
        }

        h4 {
            text-align: right;
        }

        .box {
            height: 400px;
            width: 400px;
            margin: auto;
            position: relative;
            right: 200px;
        }

        .about {
            height: 400px;
            width: 400px;
            margin: auto;
            position: absolute;
            top: 88px;
        }

        .logo {
            height: 500px;
            width: 500px;
            margin: auto;
        }

        .centered {
            margin: auto;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MrBarber</title>
</head>

<body>
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Registo com sucesso</strong> Usufrua das nossas funcionalidades! .
    </div>
    <div>
        <div class="container body-content">
            <div class="row">
                <div class="col-md-6">
                    <img class="logo" src="https://i.imgur.com/E3XQF6J.png">
                </div>
                <div class="col-md-6">
                    <div class="about">
                        <h1>
                            Mr Barber
                        </h1>
                        <h4>
                            On Wheels
                        </h4>
                        <br>
                        <p>
                            Em Março de 2017 nasceu a empresa <strong>Mr. Barber</strong> que tem vindo a dedicar
                            o seu tempo em prol da boa imagem do homem.
                        </p>
                        <p>
                            A empresa está sediada no centro de Braga, aproveitando o facto de esta
                            ser uma cidade jovem, pois são os jovens que estão mais atentos às novas
                            tendências, tornando-se assim o público alvo, mas nunca descorando o
                            interesse pelas demais faixas etárias.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>













