
@{
    ViewBag.Title = "Catalogo";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">


        .fstRow {
            height: 100px;
            width: 700px;
            position: absolute;
            top: 250px;
        }

        .button {
            margin: auto;
            position: absolute;
            top: 105px;
            left: 30px;
        }

        #imgTop1 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgTop2 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgTop3 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgDown1 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgDown2 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgDown3 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MrBarber</title>
</head>

<body>
    <form>
        <div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm(FormMethod.Post)){}

                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "1" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgTop1" src="~/Images/corte1.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>

                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "2" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgTop2" src="~/Images/corte2.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "3" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgTop3" src="~/Images/corte3.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
            </div>

            <br />
            <hr />

            <div class="row">
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "4" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown1" src="~/Images/corte4.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "5" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown2" src="~/Images/corte5.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "6" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown3" src="~/Images/corte6.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
            </div>

            <br />
            <hr />

            <div class="row">
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "7" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown1" src="~/Images/corte7.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "8" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown2" src="~/Images/corte8.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "9" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown3" src="~/Images/corte9.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
            </div>

            <br />
            <hr />

            <div class="row">
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "10" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown1" src="~/Images/corte10.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "11" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown2" src="~/Images/corte11.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-2">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Colaborador", "Home", new { id2 = "12" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown3" src="~/Images/corte12.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
            </div>

        </div>

        <br />
    </form>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


