
@{
    ViewBag.Title = "Contact2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .section {
            width: 960px;
            height: 252px;
            float: left;
            margin-left: 0px;
        }

        .list-icon-items {
            height: 960px;
            width: 252px;
            margin: auto;
            margin-top: -100px;
        }

        #header {
            height: 200px;
            text-align: center;
            margin: auto;
        }

        #logo {
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div>

        <header id="header" class="clearfix">
            <div class="row center-block">
                <img id="logo" src="https://i.imgur.com/E3XQF6J.png" />
            </div>
            <h1>Contacte-nos</h1>
            <h6>...e mantenha-se conetado</h6>
        </header>
        <br />

        <div class="row center-block clearfix">
            <div class="col-md-2 col-md-offset-2">
                <i class="circ large tertiary ss-icon ss-standard">
                    📱
                    <i class="circ pulse"></i>
                </i>
                <h4 class="secondary">Phone</h4>
                <p class="secondary">+44 (0)1273 434 060</p>
            </div>
            <div class="col-md-2">
                <a href="mailto:hello@builtbybuffalo.com">
                    <i class="circ large tertiary ss-icon ss-standard">
                        ✉
                        <i class="circ pulse"></i>
                    </i>
                    <h4 class="secondary">Email</h4>
                    <p>
                        <span class="pseudo-link">hello@builtbybuffalo.com</span>
                    </p>
                </a>
            </div>

            <div class="col-md-2">
                <a href="/planner">
                    <i>
                        📝
                        <i class="circ pulse"></i>
                    </i>
                    <h4 class="secondary">Project planner</h4>
                    <p>
                        <span class="pseudo-link">Launch it</span>
                    </p>
                </a>
            </div>

            <div class="col-md-2">
                <a href="http://twitter.com/builtbybuffalo">
                    <i class="circ large tertiary ss-icon ss-social">
                        
                        <i class="circ pulse"></i>
                    </i>
                    <h4 class="secondary">Twitter</h4>
                    <p>
                        <span class="pseudo-link">Follow us</span>
                    </p>
                </a>
            </div>

            <div class="col-md-2">
                <a href="skype:builtbybuffalo?call">
                    <i class="circ large tertiary ss-icon ss-social">
                        
                        <i class="circ pulse"></i>
                    </i>
                    <h4 class="secondary">Skype</h4>
                    <p>
                        <span class="pseudo-link">Call us</span>
                    </p>
                </a>
            </div>
        </div>
    </div>

    <br />
    <br />

</body>
</html>

