@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <form action="action_page.php">
        <div class="container">
            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
        </div>

        <div class="container">
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        </div>

        <br />
        <div class="container">
            <button type="submit">Login</button>
        </div>


    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}