@{
    ViewBag.Title = "Catalogo";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">


        .fstRow {
            height: 100px;
            width: 700px;
            position: absolute;
            top: 250px;
        }

        .button {
            margin: auto;
            position: absolute;
            top: 105px;
            left: 30px;
        }

        #imgTop1 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgTop2 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgTop3 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgDown1 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgDown2 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }

        #imgDown3 {
            height: 100px;
            width: 100px;
            margin: auto;
            position: absolute;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MrBarber</title>

    <script>
        function nrealizados() {

            using(MrBarberDatabaseEntities db = new MrBarberDatabaseEntities())
            {
                var agendamentos = (from m in db.Agendamentos
                where m.Funcionario == (int)id && m.Estado == "Realizado"
                select m);


                var res = agendamentos.ToList<Agendamento>().Count;
            }
                    
            }
        }
    </script>

</head>
<body>
    <form>
        <div>
            <br />
            <div class="row">
                @using (Html.BeginForm(FormMethod.Post)) { }
                @using (Html.BeginForm("Slot", "Colaborador", new { id2 = "1" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgTop1" src="~/Images/avatar1.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-4">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>

                @using (Html.BeginForm("Slot", "Colaborador", new { id2 = "2" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgTop2" src="~/Images/avatar2.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-4">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
            </div>

            <br />
            <hr />

            <div class="row">

                @using (Html.BeginForm("Slot", "Colaborador", new { id2 = "3" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown1" src="~/Images/avatar3.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-4">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
                @using (Html.BeginForm("Slot", "Colaborador", new { id2 = "4" }, FormMethod.Post))
                {
                    <div class="col-md-2">
                        <img id="imgDown2" src="~/Images/avatar4.png" height="100" width="100" />
                        <input class="button" type="submit" value="Agendar" />
                    </div>
                }
                <div class="col-md-4">
                    <dl>
                        <dt><em>Preço:</em></dt>
                        <dd>x</dd>
                        <dt><em>Pontos/Corte:</em></dt>
                        <dd>x</dd>
                        <dt><em>Valor/Pontos:</em></dt>
                        <dd>x</dd>
                    </dl>
                </div>
            </div>
        </div>

        <br />
    </form>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}